:root {
	--light-grey: #ccc;
	--grey: rgb(155, 155, 155);
}

body {
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}
/* --------------- Header , Search ------------------ */

header {
	max-width: 1320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px auto 35px auto;
}
h1 {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.74px;
	font-weight: 400;
}
.searchbar-container {
	display: flex;
	position: relative;
	align-items: center;
}
.searchbar-container svg {
	position: absolute;
	left: 10px;
}
input {
	width: 500px;
	padding: 8px 5px 8px 40px;
	font-size: 16px;
	border: var(--light-grey) solid 2px;
	border-radius: 5px;
}
input:focus {
	outline: none;
}

/* grid container */
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 35px;
	max-width: 1320px;
	margin: auto;
}
.card {
	display: flex;
	border: var(--light-grey) solid 2px;
	border-radius: 5px;
	padding: 20px 10px;
	gap: 15px;
	align-items: center;
}
h2 {
	font-size: 20px;
	letter-spacing: 0.54px;
}
h2,
p {
	margin: 0;
}

.avatar {
	border-radius: 50%;
}
.text-container {
	display: grid;
	gap: 15px;
}
.text-container p {
	color: var(--grey);
	font-size: 15px;
}

/* Overlay */

.overlay {
	/* display: none; */
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal {
	background-color: #fff;
	margin: 15% auto auto;
	padding: 30px 20px;
	border: 2px solid var(--darkGrey);
	max-width: 460px;
	height: 400px;
	width: 100%;
	color: black;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

/* The Close Button */
.modal-close {
	max-width: fit-content;
	margin-left: auto;
	display: flex;
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
}
.modal-avatar {
	padding-bottom: 20px;
}

.hidden {
	display: none;
}
hr {
	width: 100%;
	/* height: 1px; */
	border-top: 1px solid var(--grey);
}

.next-btn,
.back-btn {
	position: absolute;
	border: none;
	background: transparent;
	bottom: 10px;
	cursor: pointer;
}
.next-btn {
	right: 10px;
}
.back-btn {
	left: 10px;
}
.next-btn svg path,
.back-btn svg path {
	transition: 0.3s ease;
}
.next-btn:hover svg path,
.back-btn:hover svg path {
	fill: rgb(0, 179, 255);
}
